<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode | default "en" }}">
<head>

  {{/* Standard Blowfish head partial */}}
  {{ partial "head/head" . }}

  {{/* Your custom head overrides */}}
  {{ partial "custom/head" . }}

</head>

<body id="top">

  {{/* -------------------
       Background layer
       ------------------- */}}
  {{ partial "custom/background" . }}

  {{/* -------------------
       Header
       ------------------- */}}
  {{ partial "header/header" . }}

  <main id="main">
    {{ block "main" . }}{{ end }}
  </main>

  {{/* -------------------
       Footer
       ------------------- */}}
  {{ partial "footer/footer" . }}

  {{/* -------------------
       Theme Scripts
       ------------------- */}}
  {{ partial "scripts/scripts" . }}

  {{/* Custom Scripts (optional) */}}
  {{ partial "custom/scripts" . }}

</body>
</html>
